.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 9999; /* Make sure the overlay appears on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.loading-spinner {
  border: 6px solid #f3f3f3; /* Light gray border */
  border-top: 6px solid #3498db; /* Blue border on the top */
  border-radius: 50%;
  width: 60px; /* Increased size */
  height: 60px; /* Increased size */
  animation: spin 1s linear infinite; /* Add a spinning animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
