.select3 {
    
    display:flex;
    margin-top: 5px;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .options{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    appearance: none;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    color:#333;
    cursor: pointer;
    width: 136px;
    
    margin-top: 4px;
  }
  .s-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    appearance: none;
    padding: 8px 8px;
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    color:#333;
    cursor: pointer;
    width: 144px;
    height: 19px;
    margin-top: 4px;
  }
  .selectl{
    font-weight: 100;
    color: rgb(27, 25, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  input[type="checkbox"]:checked + label {
    color: #000000;
  }
  