div {
    margin-bottom: 10px;
    position: relative;
  }
  
  select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    appearance: none;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: white;
    color:#333;
    cursor: pointer;
    width: 160px;
    margin-top: 4px;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px lightblue;
  }
  
  .select-arrow {
    position: absolute;
    top: calc(50% - 4px); /* Adjust the value to vertically center the arrow */
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 16px; /* Set a width to make the arrow visible */
    height: 16px; /* Set a height to make the arrow visible */
    z-index: 1;
}
  
  .select-arrow::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    transform: rotate(45deg);
  }
  