.brahma{
  display: flex;
  flex-direction: column;
  background: #FAFAFA;
}
.bar{
  display:flex;
  flex-wrap: wrap;
  margin-left: 3%;
  width: 97%;
  justify-content: space-between;
}
.line{
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  margin-bottom: 1%;
}
.page{
  display: flex;
  flex-direction: row;
}
.rescon {
  display: flex;
  flex-direction:column;
  width: 96%;
  margin: 2%;
  
  background: #FFFFFF;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);  
  border-radius: 6px;
  max-height: 500px;
   /* Enable scrolling when content exceeds the height */
}

.collapse-button{
  text-decoration: none;
  height:50px;
 
display: flex;
  background: #FFFFFF;
box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.25);
border-radius: 6px;
}
.res-button{
  background: #54A8FC;
border-radius: 4px;
text-decoration: none;
margin-top: 6px;
margin-left: 20px;
margin-bottom: 5px;
color: #fff;
  border: none;
  padding: 10px 20px;
  width:25%;

}
.footer{
  margin-top: 20px;
  margin-bottom: 20px;
}
.foot{
  
  margin-left: 40%;
}
.whats{
  color:green;
 
  
}
.split{
  display: flex;

  flex-direction: row;
  overflow: auto;
}
.response {
  position: relative;
  display:flex;
  flex-direction: column-reverse;
  font-size: 14px;
  width: 53%;
  margin-right: 1%;
  background: rgba(217, 217, 217, 0.3);
  border-radius: 6px;
  justify-content: flex-end;
}
.ph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding-top: 45%;
  font-size: x-large;
}
.Form {
 
  max-width: 40%;
  
  display: flex;
  flex-direction: column;
 
margin-left: 3%;
margin-right: 3%;
  padding: 2%;
background: #FFFFFF;
box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.25);
border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}
label{
  font-size: 13px;
}

.title {
  


font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 30px;

color: rgba(12, 3, 33, 0.65);
}

.Head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  
  color: #0E0E2E;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-1 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container > div {
  flex-basis: 45%;
  margin-bottom: 20px;
}

.container-1 > div {
  flex-basis: 45%;
  margin-bottom: 20px;
}



.r-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.helpbutton{
position: absolute;
right:5%;
top:7%
}
.b-button{
  
  background: linear-gradient(90deg, #56D0FA 0%, #4B3CFF 100%);
  width: 90px;
  height: 30px;
  font-size: large;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;

}
.r-button {
  margin-top: 20px;
  margin-left: 12%;
  padding: 10px 20px;
  background: rgba(84, 168, 252, 1);

  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.r-button:hover {
  background-color: #00a383;
}

.button-1{
  background: rgba(84, 168, 252, 1);

  font-size: large;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  width: 30%;
}
.button-2 {
  background: rgba(84, 168, 252, 1);

  font-size:small;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.button-1:hover,
.button-2:hover {
  background-color: #02a360cb;
}

.button-1 {
  display: block;
  margin: 0 auto;
  width: auto;
}

.button-2 {
  margin-left: 30%;
  margin-top: 0;
}

.button-2:focus {
  outline: none;
}

.label-1 {
  padding-left: 1px;
  padding-right: 15px;
  margin-bottom: 4px;
}

textarea {
  resize: vertical;
}

.label-1,
.r-label {
  font-size: 16px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label-1-2{
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-left: 40px;
  justify-content: center ;
  margin-bottom: 10px;
}
input[type="text"],
textarea {
  width: 95%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
}

.input-error {
  border: 1px solid red;
}



.content {
  margin:2%;
  max-width: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 #F5F5F5;
}

/* Track */
.content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: rgba(14, 14, 46, 0.8);
  border-radius: 4px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

/* .Form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 4px solid #00b894;
} */




/* .Form {
  background-color: #f6f6f6;
} */



.button-1,
.button-2 {
  background: linear-gradient(90deg, #56D0FA 0%, #4B3CFF 100%);
border-radius: 4px;

}

.button-1:hover,
.button-2:hover {
  background-color: #00a383;
}

textarea {
 width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  font-size: 12px; /* Reduced font size */
  color: #555;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;

}


.enter{
  width: 90%;
 
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  color: #555;
}
.download-icon {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 7px;
  zoom: 1.5;
  cursor: pointer;
}
.down-icon {
  
  margin-right: 20px;
  margin-top: 7px;
  zoom: 1.5;
  cursor: pointer;
}
.r-title{
  display:flex;
  flex-direction: column;
}
.r-title-s{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.r-svg{
  margin-right: 20px;
zoom: 0.6;
}