.Form {
  margin: 20px;
 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.Head {
  font-size: 40px;
  font-weight: bold;
  
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container-1 {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container > div {
  flex-basis: 23%;
  margin-bottom: 20px;
}

.container-1 > div {
  flex-basis: 45%;
  margin-bottom: 20px;
}

.response {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.r-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.r-button {
  margin-top: 20px;
  margin-left: 12%;
  padding: 10px 20px;
  background-color: #00b894;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.r-button:hover {
  background-color: #00a383;
}

.button-1{
  background-color: #00b894;
  font-size: large;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
  width: 30%;
}
.button-2 {
  background-color: #00b894;
  font-size:small;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.button-1:hover,
.button-2:hover {
  background-color: #02a360cb;
}

.button-1 {
  display: block;
  margin: 0 auto;
}

.button-2 {
  margin-left: 30%;
  margin-top: 0;
}

.button-2:focus {
  outline: none;
}

.label-1 {
  padding-left: 1px;
  padding-right: 15px;
  margin-bottom: 4px;
}

textarea {
  resize: vertical;
}

.label-1,
.r-label {
  font-size: 16px;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.label-1-2{
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-left: 40px;
  justify-content: center ;
  margin-bottom: 10px;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
}

.input-error {
  border: 1px solid red;
}

.response {
  font-size: 14px;
}

.content {
  margin-bottom: 20px;
  max-width: 100%;
}

/* .Form {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 4px solid #00b894;
} */

.response {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 4px solid #00b894;
}


/* .Form {
  background-color: #f6f6f6;
} */

.title,
.Head {
  color: #000000;
}

.button-1,
.button-2 {
  background-color: #00b894;
}

.button-1:hover,
.button-2:hover {
  background-color: #00a383;
}

textarea {
 width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #c2c2c2;
  border-radius: 5px;
  font-size: 12px; /* Reduced font size */
  color: #555;
  resize: vertical;
}
